---
import { Badge } from "@/components/ui/badge";
import { formatDate } from "@/lib/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<article class="group space-y-4">
  <a
    href={`/blog/${post.slug}/`}
    class="flex h-52 group-hover:-translate-y-2 group-hover:shadow-xl transition duration-300"
  >
    <Image
      class="w-full h-full object-cover rounded-xl overflow-hidden"
      width={400}
      height={200}
      src={post.data.coverImage}
      alt="descriptive text"
      transition:name={"img-" + post.slug}
    />
  </a>

  <div class="flex items-center justify-between">
    <a href={`/blog/category/${post.data.category}`}>
      <Badge
        radius="md"
        className="capitalize"
        transition:name={"category-" + post.slug}
      >
        {post.data.category}
      </Badge>
    </a>
    <span
      class="font-medium text-muted-foreground"
      transition:name={"date-" + post.slug}
    >
      {formatDate(post.data.pubDate)}
    </span>
  </div>

  <div>
    <a href={`/blog/${post.slug}/`} class="group-hover:underline">
      <h2
        class="font-heading text-xl md:text-2xl leading-snug line-clamp-3"
        transition:name={"title-" + post.slug}
      >
        {post.data.title}
      </h2>
    </a>
  </div>
</article>
