---
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { cn, formatDate } from "@/lib/utils";
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";
import DocsLayout from "./docs-layout.astro";

type Props = CollectionEntry<"guides">;

const slug = Astro.props.slug;
const { title, description, pubDate } =
  Astro.props.data;
---

<DocsLayout title={title} description={description}>
  <div class="relative container max-w-screen-md py-10">
    <a
      href="/guides"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "absolute left-[-200px] top-10 hidden xl:inline-flex text-muted-foreground"
      )}
      transition:animate="slide"
    >
      <Icon name="lucide:chevron-left" class="mr-2 h-4 w-4" />
      See all guides
    </a>

    <article class="prose dark:prose-invert max-w-none">
      
      <div class="flex items-center justify-between">
        <span
          class="font-medium text-muted-foreground"
          transition:name={"date-" + slug}
        >
          {formatDate(pubDate)}
        </span>
      </div>
      <h1 class="font-heading text-4xl my-4" transition:name={"title-" + slug}>
        {title}
      </h1>
      <p>{description}</p>
      <hr class="my-6" />
      <slot />
    </article>
  </div>
</DocsLayout>
